.main {
  display: block !important;
  padding: 2vh 5vw;
  margin-bottom: 3rem;
}

.main > div {
  width: 70%;
}

.main > div > section > h1 {
  animation: 0.8s ease 0s 1 headerSlide;
  margin-bottom: 10px;
}

.main > div > section > p {
  animation: 1s ease 0s 1 otherSlide;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.main > div > section > ul {
  animation: 1.5s ease 0s 1 otherSlide;
  font-family: "Courier New", Courier, monospace;
  margin: 1em 2em;
}

.separator {
  width: 50%;
  border: 1px solid white;
  margin: 30px 0;
}

@keyframes headerSlide {
  0% {
    transform: translateX(-10%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes otherSlide {
  0% {
    transform: translateX(-10%);
    opacity: 0%;
  }
  40% {
    transform: translateX(-10%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
