.main {
  display: flex;
  flex-wrap: wrap;
  padding: 10vh 12vw 10vh 10vw;
}

.card {
  display: flex;
  backdrop-filter: blur(2px);
  border: 1px dashed rgb(255, 255, 255, 0.4);
  padding: 2em;
  margin: 1em;
  border-radius: 2em;
  opacity: 0;
  animation: 0.8s ease 0s 1 fadeIn;
  animation-fill-mode: forwards;
  width: 100%;
}

.right {
  width: 100%;
}

.right > p {
  margin-bottom: 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
  padding-right: 2em;
  margin-right: 2em;
}

.left > a {
  padding: 1.3rem 0;
}

.left > h1 {
  padding-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid white;
}

.card > a > img {
  border-radius: 1rem;
}

.link_container > a {
  padding: 1em;
  border: 1px dashed rgb(255, 255, 255, 0.4);
  border-radius: 2em;
  width: fit-content;
  margin-right: 1em;
}

.link_container {
  margin-top: 1em;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .main {
    padding-top: 0em;
  }

  .card {
    flex-grow: 1;
    scale: 80%;
    padding: 0;
    justify-content: center;
  }

  .left {
    flex-grow: 1;
    scale: 80%;
    padding: 0;
    margin: 0;
  }
  .right {
    display: none;
  }
  .left {
    border: none;
  }
}
