.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  z-index: 10;
}

.nav::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  /* background: red; */
  mask: linear-gradient(to top, transparent 10%, #fff 30% 90%, transparent 95%);
  mask-size: 110% 110%;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-composite: intersect;
  backdrop-filter: blur(2px);
  width: 120%;
  margin-left: -5%;
  margin-top: -2%;
}

.nav h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.nav > ul {
  display: flex;
  list-style-type: none;
}

.nav > ul > li {
  padding: 0 1em;
}

.nav button {
  background: none;
  border: none;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  font-size: 1em;
  color: white;
}

.menu_button {
  border: none;
  background: none;
  display: none;
  filter: invert(99%) sepia(14%) saturate(499%) hue-rotate(264deg)
    brightness(123%) contrast(100%);
}

.menu_screen {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background: black;
}

.menu_screen > button {
  margin: 2rem 0;
}

.menu_screen > ul > li {
  margin: 0.25rem;
}

.menu_screen .close {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 2rem;
}

@media only screen and (max-width: 750px) {
  .nav > ul {
    display: none;
  }
  .menu_button {
    display: initial;
    cursor: pointer;
  }
}
